<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="login-container">

    <form th:action="@{/usuarios/login}" method="post" class="login-form">

        <div class="login-header">
            <img th:src="@{/images/login.jpg}" alt="Login Icon" class="login-image">
            <h2>Bienvenido</h2>
            <p>Inicie sesión para acceder a su cuenta</p>
        </div>

        <!-- Mensaje de error de Spring Security -->
        <div th:if="${param.error}" class="error-message">
            <p th:if="${param.error == 'true'}">⚠️ Usuario o contraseña incorrectos.</p>
            <p th:if="${param.error == 'pendiente'}">⚠️ Su cuenta de médico está pendiente de aprobación.</p>
        </div>

        <div class="input-group">
            <span class="icon">
                <i class="fas fa-id-card"></i>
            </span>
            <input type="number" name="username" id="username" min="1" required placeholder="ID de Usuario">
        </div>

        <div class="input-group">
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>

        <button type="submit" class="btn-login">Iniciar Sesión</button>

        <div class="register-container">
            <span>¿No tienes una cuenta?</span>
            <a th:href="@{/usuarios/registro}" class="btn-register">Regístrate aquí</a>
        </div>

    </form>
</div>

<!-- Font Awesome para íconos -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
