<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color: white">

<div class="cuerpo">
    <!-- Spring Security manejará esta acción -->
    <form th:action="@{/usuarios/login}" method="post">
        <div id="login">
            <div id="tituloLogin">
                <h2>Login</h2>
            </div>

            <div id="datosLogin">
                <div>
                    <img class="login-icono" th:src="@{/images/login.jpg}" alt="Login">
                </div>

                <div class="input-group">
                    <span class="icon">
                        <img th:src="@{/images/user.jpg}" alt="User Icon">
                    </span>
                    <input type="number" name="username" id="username" min="1" required placeholder="ID de Usuario">
                </div>

                <div class="input-group">
                    <span class="icon">
                        <img th:src="@{/images/llave.jpg}" alt="Password Icon">
                    </span>
                    <input type="password" name="password" placeholder="Password" required>
                </div>

                <div class="button-container">
                    <button type="submit" class="btn-login">Log in</button>
                </div>
            </div>

            <div class="register-container">
                <span>Don't have an account?</span>
                <a th:href="@{/usuarios/registro}" class="btn-register">Register here</a>
            </div>
        </div>

        <!-- Mensaje de error de Spring Security -->
        <div th:if="${param.error}" class="error-message">
            <p th:if="${param.error == 'true'}">⚠️ Usuario o contraseña incorrectos.</p>
            <p th:if="${param.error == 'pendiente'}">⚠️ Su cuenta de médico está pendiente de aprobación.</p>
        </div>
    </form>
</div>

</body>
</html>
