<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color: white">

<!-- Contenedor Principal -->
<div class="cuerpo">
    <form th:action="@{/usuarios/login}" method="post" th:object="${login}">
        <div id="login">
            <div id="tituloLogin">
                <h2>Login</h2>
            </div>

            <div id="datosLogin">
                <div>
                    <img class="login-icono" th:src="@{/images/login.jpg}" alt="Login">
                </div>

                <div class="input-group">
                    <span class="icon">
                        <img th:src="@{/images/user.jpg}" alt="User Icon">
                    </span>
                    <input type="number" id="id" th:field="*{id}" min="1" required>
                    <p class="error-text" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
                </div>

                <div class="input-group">
                    <span class="icon">
                        <img th:src="@{/images/llave.jpg}" alt="Password Icon">
                    </span>
                    <input type="password" th:field="*{clave}" placeholder="Password" required>
                </div>

                <div class="button-container">
                    <button type="submit" class="btn-login">Log in</button>
                </div>
            </div>

            <!-- Registro -->
            <div class="register-container">
                <span>Don't have an account?</span>
                <a href="/usuarios/registro" class="btn-register">Register here</a>
            </div>
        </div>

        <!-- Error -->
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>
    </form>
</div>

</body>
</html>
