<link rel="stylesheet" href="../../static/css/styles.css">
<footer th:fragment="footer" class="footer">
    <div class="footer"> <!-- div FOOTER -->
        <div id="footerInfo"> <!-- div de la info del footer -->
            <h3>
                Total Soft Inc.
            </h3>
        </div>
        <div id="redesSociales"> <!-- div de las redes sociales -->
            <!-- aquí van las imágenes de los íconos -->
        </div>
        <div id="footerContacto">
            <p>
                @2019 Tsf, Inc.
            </p>
        </div>
    </div>
</footer>