<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<footer th:fragment="footer" class="footer">
    <div class="footer"> <!-- div FOOTER -->
        <div id="footerInfo"> <!-- div de la info del footer -->
            <h3>
                Total Soft Inc.
            </h3>
        </div>
        <div id="redesSociales"> <!-- div de las redes sociales -->
            <!-- aquí van las imágenes de los íconos -->
        </div>
        <div id="footerContacto">
            <p>
                @2019 Tsf, Inc.
            </p>
        </div>
    </div>
</footer>

</html>
