<footer th:fragment="footer" >
    <div class="footer-content">
        <p>&copy; 2025 Total Soft Inc.</p>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank">
                <img th:src="@{/images/facebook.png}" alt="Facebook">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img th:src="@{/images/twitter.png}" alt="Twitter">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img th:src="@{/images/instagram.png}" alt="Instagram">
            </a>

        </div>
    </div>
</footer>