<link rel="stylesheet" href="../../static/css/styles.css">
<header th:fragment="header" class="header">
    <!-- Logo + Título -->
    <div class="header-left">
        <img class="logo" src="/static/images/logo.jpg" alt="Logo">
        <h1 id="tituloPagina">Medical Appoitments</h1>
    </div>

    <!-- Teléfono centrado -->
    <div class="header-center">
        <img class="telefono-icono" src="/static/images/telefono.jpg" alt="Teléfono">
        <p class="telefono-numero">+506 5467 0937</p>
    </div>
</header>