<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas Médicas</title>
    <link rel="stylesheet" th:href="@{/css/fragments.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>

<body>

<header th:insert="fragments/header :: header"></header>

<main class="dashboard-container">

    <h2 class="dashboard-title">Buscar Médicos</h2>

    <form method="get" th:action="@{/}" class="form-busqueda">
        <select name="especialidad">
            <option value="">-- Todas las especialidades --</option>
            <option th:each="esp : ${especialidades}"
                    th:value="${esp}"
                    th:text="${esp}"
                    th:selected="${esp == especialidad}">
            </option>
        </select>

        <input type="text" name="localidad" placeholder="Ciudad o zona" th:value="${param.localidad}">
        <button type="submit">Buscar</button>
    </form>

    <div th:each="medico : ${medicos}" class="doctor-card">
        <div class="doctor-info">
            <img th:if="${medico.rutaFotoPerfil != null and !medico.rutaFotoPerfil.isEmpty()}"
                 th:src="@{${medico.rutaFotoPerfil}}"
                 alt="Foto del Doctor" class="foto-doctor"
                 onerror="this.onerror=null; this.src='/images/avatar.png';">


            <div class="doctor-text">
                <strong th:text="${medico.nombre}">Nombre del médico</strong>
                <div class="especialidad" th:text="${medico.especialidad}">Especialidad</div>
                <div class="costoConsulta"
                     th:text="'Precio de consulta en dólares: ' + ${medico.costoConsulta}">
                    Costo Consulta
                </div>
                <div class="ubicacion" th:text="${medico.localidad}">Ubicación</div>
            </div>
        </div>

        <div class="horarios">
            <div th:each="entry : ${espaciosAgrupados[medico.id]}">
                <div class="fecha" th:text="${#temporals.format(entry.key, 'dd/MM/yyyy')}"></div>
                <div class="horas">
                    <a th:each="hora : ${entry.value}"
                       th:href="@{'/citas/confirmar?idMedico=' + ${medico.id} + '&fechaHora=' + ${#temporals.format(hora, 'yyyy-MM-dd')} + 'T' + ${#temporals.format(hora, 'HH:mm:ss')}}"
                       th:text="${#temporals.format(hora, 'HH:mm')}"
                       th:class="'hora ' + (${horasOcupadas[medico.id]?.contains(hora)} ? 'ocupada' : '')">
                    </a>
                </div>
            </div>
        </div>

        <div class="schedule-button">
            <a th:href="@{'/citas/horarios/' + ${medico.id}}">Horario Extendido→</a>
        </div>
    </div>

</main>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>
