<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Mis Citas</title>
</head>
<body>

<h2>Mis Citas</h2>

<table>
  <thead>
  <tr>
    <th>Médico</th>
    <th>Especialidad</th>
    <th>Fecha y Hora</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="cita : ${citas}">
    <td th:text="${cita.medico.nombre}"></td>
    <td th:text="${cita.medico.especialidad}"></td>
    <td th:text="${#temporals.format(cita.fechaHora, 'dd/MM/yyyy HH:mm')}"></td>
    <td th:text="${cita.estado}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>
